body {
    overflow: hidden;
    margin: 0
}

#app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


html, body, #root {
  // background: #212121;
  height: 100%;
}

.puzzle {
    h1 {
        font-size: 48px;
    }
    h1, p {
        margin: 10px;
    }
    input {
        margin-left: 10px;
    }
}

.board {
    min-width: 300px;
    margin: 10px 10px 28px;
    text-align: center;
    user-select: none;
}
